<form method="POST" action="/new">
    <label for="username"> Your display name </label>
    <input type="text" name="username"> 
    <label for="message"> Your message </label>
    <input type="text" name="message"> 
    <button type="submit"> submit </button>
 </form>
 