<html>
    <head>
        <title>Homepage</title>
    </head>
    <body>

        <ul>
            <% messages.forEach((message) => { %>
              <%- include('message', {message: message}); %>
            <% }); %>
          </ul>
          
        </ul>
    </body>
</html>